.DS_Store
.loadpath
.project
*.swp
*.swo
Thumbs.db
.ruby_inline/
config/*.sphinx.conf
config/adapter.yml
config/mailer.yml
config/facebooker.yml
doc/api/
doc/app/
db/*.db
db/*.sql
db/sphinx/
db/sphinx/*
db/sphinx/**/*
db/sphinx/**/**/*
log/*.log
log/*.out
log/*.pid
private/
public/cache/
public/javascripts/all.js
tmp/**/*
tmp/restart.txt
config/database.yml
