config/adapter.yml
config/database.yml
config/facebooker.yml
config/mailer.yml
config/*.sphinx.conf
db/
db/*.db
db/sphinx/
db/sphinx/*
db/sphinx/**/*
db/sphinx/**/**/*
db/*.sql
doc/api/
doc/app/
.DS_Store
.loadpath
log/*.log
log/*.out
log/*.pid
private/
.project
public/cache/
public/javascripts/all.js
public/javascripts/cache
public/potato_backgrounds
public/potato_men
public/widgets
.ruby_inline/
*.swo
*.swp
Thumbs.db
tmp/**/*
tmp/restart.txt
